
<div class="container  my-3">
  <div class="row">
      <div class="col-md-3">

      </div>
      <div class=" col-md-6 col-12">
        <h3 class="mb-5">SignUp Here</h3>
        <form action="">
            <div class="row g-3 mb-5 align-items-center">
                <div class="col-4">
                  <label for="teamName" class="col-form-label">Team Name</label>
                </div>
                <div class="col-8">
                  <input type="text" name="teamName" id="teamName" class="form-control" [(ngModel)]="userName">
                </div>
            </div>
            <div class="row g-3 mb-5 align-items-center">
                <div class="col-4">
                  <label for="emailAddress" class="col-form-label">Email Address</label>
                </div>
                <div class="col-8">
                  <input type="text" name="emailAddress" id="emailAddress" class="form-control" [(ngModel)]="userEmail">
                </div>
            </div>
            <div class="row g-3 mb-5 align-items-center">
              <div class="col-4">
                <label for="phoneNo" class="col-form-label">Phone No</label>
              </div>
              <div class="col-8">
                <input type="text" name="phoneNo" id="phoneNo" class="form-control" [(ngModel)]="userPhone">
              </div>
            </div>
            <div class="row g-3 mb-5 align-items-center">
                <div class="col-4">
                  <label for="password" class="col-form-label">Password</label>
                </div>
                <div class="col-8">
                  <input type="password" name="password" id="password" class="form-control" [(ngModel)]="userPassword">
                </div>
            </div>
            <button class="btn btn-success form-control" (click)="registerUser()">SignUp</button>
        </form>
          
         
      </div>
      <div class="col-md-3">

      </div>
  </div>
  

</div>


<!-- The Modal -->
<div id="myModal" class="modal" [ngClass]="displayShow == 'none' ? 'displayNone' : 'displayBlock'">

  <!-- Modal content -->
  <div class="modal-content">
      <div class="d-flex justify-content-between ">
          <div class="text-danger "  style="font-size: 28px; font-weight: bold;"> Error Message</div>
          <span class="close " (click)="closeTab()">&times;</span>
      </div>
      <br>
    <p>{{ errMsg }}</p>
  </div>

</div>