<div class="container  my-3">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class=" col-md-6 col-12">
            <h3>Add new Area</h3>
            
            <form action="">
                <div class="form-group row mt-5">
                    <label for="division" class="col-sm-3 col-form-label">Division</label>
                    <div class="col-sm-9">
                        <select name="division" id="" class="form-select"  (change)="onChangeDivison($event)" [(ngModel)]="divisionId">
                            <option *ngFor="let item of divisionList" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                </div><br>
                <div class="form-group row mt-2">
                    <label for="district" class="col-sm-3 col-form-label">District</label>
                    <div class="col-sm-9">
                        <select name="district" id="" class="form-select" (change)="onChangeDistrict($event)" [(ngModel)]="districtId">
                            <option *ngFor="let item of districtList" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                </div><br>
                <div class="form-group row mt-2">
                    <label for="upazila" class="col-sm-3 col-form-label">Upazila</label>
                    <div class="col-sm-9">
                        <select name="upazila" id="" class="form-select" [(ngModel)]="upazilaId">
                            <option *ngFor="let item of upazilaList" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                </div><br>
                <div class="form-group row mt-2">
                    <label for="area" class="col-sm-3 col-form-label">Area</label>
                    <div class="col-sm-9">
                    <input type="text"  class="form-control" name="area" id="area" [(ngModel)]="areaName">
                    </div>
                </div><br>
                <div class="form-group row mt-2">
                    <label for="phoneNo" class="col-sm-3 col-form-label">Guide's Phone No.</label>
                    <div class="col-sm-9">
                    <input type="text"  class="form-control" name="phoneNo" id="phoneNo" [(ngModel)]="areaPhone">
                    </div>
                </div><br>
    
                <button class="btn btn-success form-control" (click)="postArea()">Submit</button>
            </form>
        </div>
        <div class="col-md-3">

        </div>
    </div>
    

</div>



<!-- The Modal -->
<div id="myModal" class="modal" [ngClass]="displayShow == 'none' ? 'displayNone' : 'displayBlock'">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="d-flex justify-content-between ">
            <div class="text-danger "  style="font-size: 28px; font-weight: bold;"> Error Message</div>
            <span class="close " (click)="closeTab()">&times;</span>
        </div>
        <br>
      <p>{{ errMsg }}</p>
    </div>
  
  </div>