<div class="container">
    <div class="w-50 m-auto border border-1 mt-4 p-5">
        <h3 class="mb-5">Login Here</h3>
        <form action="">
            
            <div class="row g-3 mb-5 align-items-center">
                <div class="col-4">
                  <label for="emailAddress" class="col-form-label">Email Address</label>
                </div>
                <div class="col-8">
                  <input type="text" name="emailAddress" id="emailAddress" class="form-control" >
                </div>
            </div>
            <div class="row g-3 mb-5 align-items-center">
                <div class="col-4">
                  <label for="password" class="col-form-label">Password</label>
                </div>
                <div class="col-8">
                  <input type="password" name="password" id="password" class="form-control" >
                </div>
            </div>
            <button class="btn btn-success form-control">Login</button>
        </form>
    </div>
    
</div>
