<div class="m-auto mt-4 w-50">

    <div class="card mt-3">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h5 class="d-inline">District</h5>
                <span>Reach Team: 3</span>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <p class="fs-5">Upazila:  <span>Upazila</span></p>
                    <p class="fs-5">Area:  <span> Area</span></p>
                </div>
                <div class="col-6 text-end fs-5">
                    <p>Team Name 1</p>
                    <p>Team Name 2</p>
                    <p>Team Name 3</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h5 class="d-inline">District</h5>
                <span>Reach Team: 3</span>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <p class="fs-5">Upazila:  <span>Upazila</span></p>
                    <p class="fs-5">Area:  <span> Area</span></p>
                </div>
                <div class="col-6 text-end fs-5">
                    <p>Team Name 1</p>
                    <p>Team Name 2</p>
                    <p>Team Name 3</p>
                </div>
            </div>
        </div>
    </div>
</div>
