<div class="row mt-4">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 col-12">
        <div >
            <div class="card mt-3" *ngFor="let area of areaVisitByTeamList">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <span>
                            <h5 class="d-inline">{{ area.areaDistrict }}</h5>&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-primary" *ngIf="isLoggedIn" (click)="visitClicked(area.areaId)">Visit</button>
                        </span>
                        <span>Reach Team: {{area.visitedTeamCount}}</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p class="fs-5">Upazila:  <span>{{area.areaUpazila}}</span></p>
                            <p class="fs-5">Area:  <span> {{area.areaName}}</span></p>
                        </div>
                        <div class="col-6 text-end fs-5">
                            <p *ngFor="let team of area.visitedTeam">{{team.teamName}}</p>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
   
    <div class="col-md-2">

    </div>

   
</div>


